@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Fira Code', monospace;
  background-color: #282a36;
  color: #f8f8f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: #44475a;
  padding: 20px;
  border-radius: 5px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}


.home-button {
  font-family: 'Fira Code', monospace;
  padding: 10px 20px;
  color: #bd93f9;
  position: fixed;
  top: 10px;
  right: 10px;
}

#toggle-form-button {
  text-decoration: none;
  font-family: 'Fira Code', monospace;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #bd93f9;
  color: #bd93f9;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.home-button:hover,
#toggle-form-button:hover {
  background-color: #bd93f9;
  color: #fff;
}

#toggle-form-button {
  font-size: 20px;
  margin-top: 10px;
}

.home-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

.terminal-typing {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}

button {
  background-color: #bd93f9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6e5dff;
}