@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap');

body {
    font-family: Fira Code;
    background: var(--background, #282C33);
    color: #ddd;
    margin: 0;
}

.cursor {
    display: inline-block;
    width: 8px;
    height: 20px;
    background-color: #ffffff; /* Adjust the cursor color */
    animation: blink 0.8s infinite; /* Add blinking animation */
  }

  @keyframes blink {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

.console {
    white-space: pre;
}

#welcome_screen
{
    padding-top: 240px;
}

#home
{
    text-align: center;
    padding: 80px;
}

#aboutme,
#schedule,
#contact
{
  padding: 50px;
  width: 95%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.aboutme p
{
  padding: 5px;
}

h2
{
  color: #bd93f9;
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #bd93f9;
  border: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.download-button {
  font-family: Fira Code;
  display: inline-block;
  padding: 10px 20px;
  background-color: transparent;
  border: 2px solid #bd93f9;
  color: #bd93f9;
  font-size: 16px;
  cursor: pointer;
}

.download-button:hover {
  background-color: #bd93f9;
  color: #fff;
}

.schedule table {
  border-collapse: collapse;
  margin: 50px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.schedule th,
.schedule td {
  padding: 10px;
  border: 1px solid #ddd;
  transition: background-color 0.3s ease;
}

.schedule th {
  background-color: #333;
  color: #fff;
  text-align: center;
}

.schedule td {
  text-align: center;
  cursor: pointer;
}

.schedule td:hover {
  background-color: #444;
}

.schedule h2 {
  font-size: 16px;
  color: #fff;
  background-color: #333;
  padding: 5px;
  margin: 0;
  text-align: center;
}

.schedule td[rowspan]:not([rowspan="1"]) {
  color: #fff;
}

.schedule td[rowspan]:not([rowspan="1"])::before {
  content: " ";
  display: block;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1px;
  width: 1px;
  background-color: #ddd;
}

.schedule td[rowspan="1"] {
  background-color: #ddd;
  position: relative;
}

.schedule td[rowspan="1"]::before {
  display: none;
}

.schedule td[rowspan]:not([rowspan="1"]) {
  position: relative;
}

.schedule td[rowspan]:not([rowspan="1"]):hover::before {
  background-color: #fff;
}